In [1]:
import pandas as pd
df=pd.read_csv("/Users/VISHAL YADAV/Downloads/loan_data_set_lyst1728376986423.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [2]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [3]:
df.ffill(inplace=True)

In [4]:
df.bfill(inplace=True)

In [6]:
df1=pd.get_dummies(df,columns=["Gender","Married","Dependents","Education","Self_Employed","Property_Area","Loan_Status"])
df1

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,...,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,False,True,True,False,...,False,True,False,True,False,False,False,True,False,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,True,False,False,True,False
2,LP001005,3000,0.0,66.0,360.0,1.0,False,True,False,True,...,False,True,False,False,True,False,False,True,False,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,False,True,False,True,...,False,False,True,True,False,False,False,True,False,True
4,LP001008,6000,0.0,141.0,360.0,1.0,False,True,True,False,...,False,True,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,71.0,360.0,1.0,True,False,True,False,...,False,True,False,True,False,True,False,False,False,True
610,LP002979,4106,0.0,40.0,180.0,1.0,False,True,False,True,...,True,True,False,True,False,True,False,False,False,True
611,LP002983,8072,240.0,253.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,False,False,True,False,True
612,LP002984,7583,0.0,187.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,False,False,True,False,True
613,LP002990,4583,0.0,133.0,360.0,0.0,True,False,True,False,...,False,True,False,False,True,False,True,False,True,False

In [7]:
df1.drop("Gender_Female", axis=1, inplace=True)
df1.drop("Married_No", axis=1, inplace=True)
df1.drop("Education_Graduate", axis=1, inplace=True)
df1.drop("Self_Employed_No", axis=1, inplace=True)
df1.drop("Property_Area_Rural", axis=1, inplace=True)
df1.drop("Loan_Status_N", axis=1, inplace=True)
df1.drop("Dependents_3+", axis=1, inplace=True)
df1

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,True,False,True,False,False,False,False,False,True,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,True,True,False,True,False,False,False,False,False,False
2,LP001005,3000,0.0,66.0,360.0,1.0,True,True,True,False,False,False,True,False,True,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,True,True,True,False,False,True,False,False,True,True
4,LP001008,6000,0.0,141.0,360.0,1.0,True,False,True,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,71.0,360.0,1.0,False,False,True,False,False,False,False,False,False,True
610,LP002979,4106,0.0,40.0,180.0,1.0,True,True,False,False,False,False,False,False,False,True
611,LP002983,8072,240.0,253.0,360.0,1.0,True,True,False,True,False,False,False,False,True,True
612,LP002984,7583,0.0,187.0,360.0,1.0,True,True,False,False,True,False,False,False,True,True
613,LP002990,4583,0.0,133.0,360.0,0.0,False,False,True,False,False,False,True,True,False,False

In [8]:
df1

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,True,False,True,False,False,False,False,False,True,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,True,True,False,True,False,False,False,False,False,False
2,LP001005,3000,0.0,66.0,360.0,1.0,True,True,True,False,False,False,True,False,True,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,True,True,True,False,False,True,False,False,True,True
4,LP001008,6000,0.0,141.0,360.0,1.0,True,False,True,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,71.0,360.0,1.0,False,False,True,False,False,False,False,False,False,True
610,LP002979,4106,0.0,40.0,180.0,1.0,True,True,False,False,False,False,False,False,False,True
611,LP002983,8072,240.0,253.0,360.0,1.0,True,True,False,True,False,False,False,False,True,True
612,LP002984,7583,0.0,187.0,360.0,1.0,True,True,False,False,True,False,False,False,True,True
613,LP002990,4583,0.0,133.0,360.0,0.0,False,False,True,False,False,False,True,True,False,False

In [14]:
x = df1.iloc[:, 2:15]
x

,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0.0,128.0,360.0,1.0,True,False,True,False,False,False,False,False,True
1,1508.0,128.0,360.0,1.0,True,True,False,True,False,False,False,False,False
2,0.0,66.0,360.0,1.0,True,True,True,False,False,False,True,False,True
3,2358.0,120.0,360.0,1.0,True,True,True,False,False,True,False,False,True
4,0.0,141.0,360.0,1.0,True,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,71.0,360.0,1.0,False,False,True,False,False,False,False,False,False
610,0.0,40.0,180.0,1.0,True,True,False,False,False,False,False,False,False
611,240.0,253.0,360.0,1.0,True,True,False,True,False,False,False,False,True
612,0.0,187.0,360.0,1.0,True,True,False,False,True,False,False,False,True
613,0.0,133.0,360.0,0.0,False,False,True,False,False,False,True,True,False

In [15]:
y = df1.iloc[:, -1]
y

0       True
1      False
2       True
3       True
4       True
       ...
609     True
610     True
611     True
612     True
613    False
Name: Loan_Status_Y, Length: 614, dtype: bool

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [22]:
x_train

,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
46,0.0,44.0,360.0,1.0,True,True,False,True,False,False,False,False,True
272,1857.0,126.0,360.0,1.0,True,False,True,False,False,False,False,False,False
474,4648.0,162.0,360.0,1.0,True,False,False,False,True,False,False,False,False
382,0.0,156.0,360.0,1.0,False,False,True,False,False,False,False,False,True
283,1666.0,54.0,360.0,1.0,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,1300.0,80.0,360.0,1.0,True,True,True,False,False,False,False,False,True
9,10968.0,349.0,360.0,1.0,True,True,False,True,False,False,False,True,False
359,3167.0,200.0,360.0,1.0,True,True,False,False,False,False,False,True,False
192,0.0,160.0,360.0,1.0,True,True,True,False,False,True,False,False,True
559,2306.0,182.0,360.0,1.0,False,True,True,False,False,False,False,True,False

In [24]:
x_test

,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
454,0.0,84.0,360.0,1.0,True,False,True,False,False,False,True,True,False
52,0.0,112.0,360.0,1.0,False,False,True,False,False,False,False,True,False
536,3906.0,324.0,360.0,1.0,True,True,True,False,False,False,False,False,True
469,2451.0,110.0,360.0,1.0,True,True,True,False,False,False,False,False,True
55,1167.0,97.0,360.0,1.0,True,True,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,1800.0,103.0,360.0,0.0,False,False,True,False,False,False,False,True,False
89,4167.0,175.0,360.0,1.0,True,True,True,False,False,False,False,True,False
271,0.0,136.0,360.0,1.0,True,True,True,False,False,False,False,False,True
563,0.0,132.0,360.0,1.0,True,False,True,False,False,True,True,True,False
162,1280.0,121.0,360.0,0.0,True,True,False,True,False,False,False,True,False

In [26]:
from sklearn.linear_model import LogisticRegression
sam=LogisticRegression()
sam.fit(x_train, y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
y_pred=sam.predict(x_test).astype(int)
y_pred

array([1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0])

In [39]:
y_test

454     True
52     False
536     True
469    False
55      True
       ...
399    False
89      True
271     True
563     True
162    False
Name: Loan_Status_Y, Length: 154, dtype: bool

In [40]:
from sklearn.metrics import accuracy_score,confusion_matrix
acc=accuracy_score(y_test, y_pred)

In [33]:
c=confusion_matrix(y_test,y_pred)

In [41]:
print(acc)

0.8506493506493507

In [42]:
print(c)

[[ 23  20]
 [  3 108]]

In [37]:
y_pred.shape

(154,)